<<%= render partial: "shared/heading", locals: { title: 'Write an Update', tagline: 'Share the latest news from your company.' } %>

<div class="max-w-3xl mx-auto">
  <textarea name='name' rows='8' cols='68' placeholder='This month we...'></textarea>
  
  <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" class="w-full rounded-md bg-brand-purple-light px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-brand-purple focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-purple-light">Submit</button>
  </div>
</div>